# ---------------------------------------------------
# Foto-Webcam.eu
# WebCam Konfiguration on OpenWRT
#
# Flori Radlherr, www.radlherr.de
# ---------------------------------------------------
#
wc_name=`/sbin/uci get system.@system[0].hostname`
wc_adr="https://www.foto-webcam.eu/webcam/include"
wc_key="replacethistoyourkey"

wc_curlpar="-k --form key=$wc_key --form wc=$wc_name $wc_adr"

# If you need a self-signed certificate, use this...
#wc_crt="/etc/cert-chain.crt"
#wc_curlpar="--cacert $wc_crt --form key=$wc_key --form wc=$wc_name $wc_adr"
